.hexagon {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(30deg);
  cursor: pointer;
  width: 200px;
  height: 230px;
  margin: -85px 0 0 0px;

  .hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);

    .hexagon-in2 {
      width: 100%;
      height: 100%;
      background: red;
      visibility: visible;
      transform: rotate(-60deg);

      .hexagon-content {
        position: relative;
        transform: rotate(90deg);
      }
    }
  }
}
